name: photo_manager
description: A Flutter plugin that provides assets abstraction management APIs on Android, iOS, and macOS.
version: 2.0.9
homepage: https://github.com/fluttercandies/flutter_photo_manager

environment:
  sdk: '>=2.17.0 <3.0.0'
  flutter: '>=3.0.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_lints: ^2.0.1
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        package: com.fluttercandies.photo_manager
        pluginClass: PhotoManagerPlugin
      ios:
        pluginClass: PhotoManagerPlugin
      macos:
        pluginClass: PhotoManagerPlugin
