name: photo_manager_example_ohos
description: Demonstrates how to use the photo_manager plugin.
publish_to: none

environment:
  sdk: ">=2.19.0"
  flutter: ">=3.7.0"

dependencies:
  flutter:
    sdk: flutter

  photo_manager: # override
  photo_manager_example:
    path: ../example

  photo_manager_image_provider: # override
  video_player: # override
  url_launcher: # override
  path_provider: # override

dev_dependencies:
  flutter_lints: any
  flutter_test:
    sdk: flutter
  test: any

flutter:
  uses-material-design: true

dependency_overrides:
  photo_manager:
    path: ../
  photo_manager_image_provider: ^1.1.1

  path_provider:
     git:
       url: https://gitee.com/openharmony-sig/flutter_packages
       path: packages/path_provider/path_provider
  url_launcher:
    git:
      url: https://gitee.com/openharmony-sig/flutter_packages
      path: packages/url_launcher/url_launcher
  video_player:
     git:
       url: https://gitee.com/openharmony-sig/flutter_packages
       path: packages/video_player/video_player
