name: Build example apk

on:
  release:
    types:
      - created

env:
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  build-apk:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: '11'
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true
      - run: flutter doctor -v
        name: Flutter info
      - run: flutter build apk --release
        name: Build apk
        working-directory: ${{ github.workspace }}/example
      - name: Upload apk to release ${{ github.event.release.tag_name }}
        run: |
          gh release upload ${{ github.event.release.tag_name }} build/app/outputs/flutter-apk/*.apk
          echo "Show apk download url: "
          gh release view ${{ github.event.release.tag_name }} --json assets --jq '.assets.[].url'
        working-directory: ${{ github.workspace }}/example

permissions:
  contents: write
